---
import { Image } from "astro:assets";
import Divider from "../bases/divider.astro";
import type { CollectionEntry } from "astro:content";
import { render } from "astro:content";
import { categoriesHandler } from "@/lib/handlers/categories";
import { convertNumbersToPersian } from "@/lib/utils/persian-numbers";
import { readingTimeFa } from "@/lib/utils/readingTime.js"

type Props = {
  article: CollectionEntry<"articles">;
  index: number;
};

const { article, index } = Astro.props;

// const { remarkPluginFrontmatter } = await render(article);
// const category = categoriesHandler.oneCategory(article.data.category.id);
---

<article
  class="col-span-1 group max-w-sm mx-auto flex flex-col gap-2 h-full relative isolate"
>
  <div class="aspect-video overflow-hidden rounded-md">
    <Image
      src=`${process.env.DIRECTUS_BASE_PATH}${article.cover_image.id}`
      alt={article.cover_image.title
        ? article.cover_image.title
        : article.title}
      loading={index < 3 ? "eager" : "lazy"}
      layout="constrained"
      class="w-full h-full object-cover"
      width={article.cover_image.width}
      height={article.cover_image.height}
    />
  </div>
  <div class="flex flex-col flex-1">
    <h3
      class="text-xl font-serif font-semibold lg:group-hover:underline line-clamp-2"
    >
      <a href={`/article/${article.id}/${article.slug}`}>
        <span class="absolute inset-0 z-10 pointer-events-none"></span>
        {article.title}
      </a>
    </h3>
    <p class="text-sm text-base-content/80 line-clamp-3 text-pretty lg:mb-auto">
      {article.excerpt}
    </p>
    <div class="flex items-center text-xs text-base-content/80 mt-2">
      <span class="text-xs text-primary dark:text-secondary"
        >{article.category.name}</span
      >
      <Divider />
      <span class="text-xs text-base-content/80">
        {convertNumbersToPersian(readingTimeFa(article.content).text)}
      </span>
    </div>
  </div>
</article>
